@forward "colors";
@import "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap";

* {
  box-sizing: border-box;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

input, select, option {
  color: var(--text-color-100);
}

input:focus {
  outline: none;
  box-shadow: 0 0 6px white;
}

.heading {
  &-large {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  &-small {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

input:checked label {
  color: red;
}

.timer {
  font-size: 4rem;

  @media (min-width: 600px) {
    font-size: 6rem;
  }
}